
/* Tùy chỉnh cho sidebar */
.content {
  background: #f8f9fa;
  padding: 20px;
  border-radius: 8px;
  min-height: 100vh;
  margin-left:250px;
  flex-grow: 1;
}

.sidebar #idbannerxx {
  color:green;
  padding: 10px;
  border-radius: 8px 8px 0 0;
  text-align: left;
  margin: 0;
}

.sidebar {
  background: #2d3748;
  color: white;
  padding: 15px;
  min-height: 100vh;
  width: 200px;
  position: fixed; /* Giữ sidebar cố định */
    top: 0;
    left: 0;
}

.sidebar a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 10px;
  border-radius: 4px;
}
.sidebar ul {
  list-style: none;
}
.sidebar a:hover, .sidebar a.active {
  background: #4a5568;
}

/* Căn chỉnh bố cục chính */
.main-container {
  display: flex;
}

.content-wrapper {
  flex: 1;
  padding: 20px;
}
.sidebar .at-location {
  background: rgba(0, 0, 0, 0.3);
}


  .edit-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  .edit-container {
    background: white;
    padding: 20px;
    border-radius: 5px;
    width: 400px;
  }
  .button-group {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
  }